* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-main);
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

h1,
h2,
p {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 970px;
    padding: 0 10px;
}

.divider {
    /* max-width: 420px;
    width: 100%; */
    width: min(420px, 100%);
    height: 1px;
    background-color: var(--color-main-black);
    border: none;
    margin: 0 auto;
}
